<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <title>Domains</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="stylesheet" href="css/domains.css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
</head>
<body>
<section class="section">
    <div class="container">
        <div class="card is-three-fifths column is-offset-one-fifth">
            <header class="card-header has-text-centered">
                <p class="card-header-title has-text-centered">
                    Your Domains
                </p>
                </a>
            </header>
            <div class="card-content">
                <div class="content">
                    { if :render }
                    <table class="table is-bordered">
                        <thead>
                        <tr>
                            <th>Domain</th>
                            <th>Primary (PDNS)</th>
                            <th>Secondary (SDNS)</th>
                            <th>Eingetragen seit</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        { foreach :domain in :domains }
                        <tr>
                            <td>{ :domain.name }</td>
                            <td class="has-text-centered"><i class="material-icons">done</i></td>
                            <td class="has-text-centered"><i class="material-icons">done</i></td>
                            <td>27.05.2099</td>
                            <td><a class="button is-primary"><i class="material-icons" style="font-size:18px;">build</i>   Edit</a></td>
                        </tr>
                        { endforeach }
                        </tbody>
                    </table>
                    { else }
                    <p>No active Domains</p>
                    { endif }
                </div>
            </div>
            <footer class="card-footer">
                <a id="logout" class="card-footer-item button pushed is-danger">Logout</a>
            </footer>
        </div>
    </div>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
<script>

    $("#logout").click(function () {
        $.get("{ :app_url }/api/logout", function (data, status) {
            obj = JSON.parse(data);
            if (obj.hasOwnProperty("error")) {
                toastr.info("An Error accured!");
            } else {
                toastr.info("Logged out! Redirecting in 3 Seconds!");
                setTimeout(function() {
                    location.replace("{ :app_url }/");
                }, 3000);
            }
        });
    });

</script>
</body>
</html>